# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
*.log
logs/
config.json
secrets.json
shared/scripts/captured_cookies.json
shared/scripts/captured_purchase_cookies_go.json
shared/scripts/captured_purchase_cookies_rs.json
shared/scripts/captured_purchase_cookies.json
shared/scripts/final_page_go.html
shared/scripts/final_page_rs.html
shared/scripts/final_page.html
shared/scripts/redirect_history_go.json
shared/scripts/redirect_history_rs.json
shared/scripts/redirect_history.json
